body {
  background-color: bisque;
}

header {
  margin-top: -48px;
  background-color: rgb(75, 4, 75);
  padding: top 18px;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(253, 245, 236);
  text-transform: uppercase;
  font-size: 80px;
  padding-top: 32px;
}

h2 {
  margin-top: -32px;
  margin-bottom: 6px;
  color: rgb(36, 2, 36);
  font-size: 48px;
}

h6 {
  color: rgb(75, 4, 75);
  font-size: 32px;
  margin-top: -46px;
  font-family: Arial, Helvetica, sans-serif;
}

header h6 {
  margin-top: -32px;
  padding-top: -16px;
  text-align: center;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  margin: 12px;
  margin-top: 4px;
  padding: 16px;
  border: 2px solid bisque;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  background-color: rgba(255, 228, 196, 0.2);
}

.nav-btn {
  color: rgb(250, 240, 227);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.top {
  margin-top: 48px;
  text-align: center;
}

.large-img {
  width: 85vw;
  height: 400px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 16px;
}

.small-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 50%;
}

#lower {
  display: flex;
  margin: 12px 4px;
  text-align: center;
}

.bottom {
  width: 30vw;
  background-color: rgb(248, 240, 230);
  margin: 3px;
  padding: 16px;
  border: 3px solid rgb(75, 4, 75);
  border-radius: 5px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.333);
  transition: 3s;
}

.dar-ci {
  display: flexbox;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 16px;
}

.btn {
  padding: 8px;
  text-align: center;
  border: 2px solid rgb(75, 4, 75);
  border-radius: 5px;
  background-color: rgba(75, 4, 75, 0.3);
  color: rgba(75, 4, 75, 1);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  height: 42px;
  background-color: rgb(75, 4, 75);
  color: rgb(247, 246, 244);
  text-align: center;
  padding-top: 3px;
}

.lift {
  transition: 3s;
  transform: translateY(-15%);
}

#vote-btn {
  background-color: white;
  padding: 8px;
  font-size: 24px;
  border: transparent;
  border-radius: 10px;
  float: right;
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}

#vote-btn:hover {
  cursor: pointer;
}
